


<div class="container">
    <p>listar works!</p>
    <div class="card">
        <div class="card-header">
            <h3>personas</h3>

            <a routerLink="../personas/add" class="btn btn-primary ">
                <i class="fa-solid fa-plus"></i>
                Nuevo</a>            
                <a routerLink="../personas/add" class="btn btn-primary ">
                    <i class="fa-solid fa-plus"></i>
                    busqueda avanzada</a>       
        </div>
        
        <div class="card-body">
            <div class="table-responsive">
                <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="table  table-condensed table-hover table-sm" >
                    <thead>
                        <tr class="text-center">
                            <th>ID</th>
                            <th>Nombres</th>
                            <th>Apellidos</th>
                            <th>Acciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let persona of personas" class="text-center">
                            <td>PR00{{persona.id}}</td>
                            <td>{{persona.nombre}}</td>
                            <td>{{persona.apellido}}</td>
                            <td>
                                <a title="Ver" class="btn btn-info btn-sm text-white" routerLink="../personas/ver/{{persona.id}}">
                                    <i class="fa-solid fa-eye"></i>
                                </a>
                                <a title="Editar" class="btn btn-warning btn-sm text-white" routerLink="../personas/edit/{{persona.id}}">
                                    <i class="fa-solid fa-pencil"></i>
                                </a>
                                <button title="Eliminar"  class="btn btn-danger btn-sm">
                                    <i class="fa-solid fa-trash"></i>
                                </button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
