
<div class="container">
    <p>listar works!</p>
    <div class="card">
        <div class="card-header">
            <h3>usuarios</h3>
        </div>
        <div class="card-body">
            <table class="table">
                <thead>
                    <tr class="text-center">
                        <th>ID</th>
                        <th>Nombres</th>
                        <th>Apellidos</th>
                        <th>Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let usuario of usuarios" class="text-center">
                        <td>{{usuario.id}}</td>
                        <td>{{usuario.nombre}}</td>
                        <td>{{usuario.correo}}</td>
                        <td>
                            <a class="btn btn-info" href="usuarios/read/{{usuario.id}}">ver</a>
                            <button class="btn btn-warning">Editar</button>

                            <button class="btn btn-danger">Delete</button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>